<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto | Acerca de</title>

    <link rel="stylesheet" href="../../../assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,700;1,900&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<body>
    <div class="content">
        <header>
            <div class="logo">
                <h1>Método/<span style="color: #9b9b9b">Acerca de</span></h1>
            </div>
            <div class="categorias" id="categorias">
                <a href="../../../index.html" class="item-activo">Inicio</a>
     
            </div>
        </header>

        <section class="informacion">
            <div class="info">
                <h3>Informacion</h3>

            </div>
            <p>
                   
                
                En este escrito se dará a conocer el funcionamiento del proyecto final de análisis de técnicas numéricas en este caso una pagina web para dar solución a los problemas de ajustes de curvas vistos y comentados en clases los cuales fueron: Ajuste lineal, Exponencial, Geométrica, Hiperbólico, Polinómica (hasta un 4to grado), Media Móvil, Exponencial Asintótico, Logístico, Logarítmico y Potencial.
            </p>
        </section>
    </div>

    <div class="redes">
        <h2>Siguenos en:</h2>
        <ul class="rsocial">
            <li><a href="https://web.facebook.com/Desarrolladoresdesoftwareyweb" target="blank"><img src="../../../assets/img/facebook.jpg" width="45" height="45"></i></a></li>
            <li><a href="https://twitter.com/jahch_hernandez?s=08" target="blank"><img src="../../../assets/img/twitter.jpg" width="45" height="45"></i></a></li>
        </ul>

        <div>
            <ul>
                <h2>Manual de usuario: Para leer el manual de instruciones solo dale clic al siguiente enlace <a href="../method/manualusu.html"  target="_blank" class="item-activo">Manual de usuario</a></h2>
            </ul>
        </div>
        <br>
        <br>
        <h4 class="heading" style="text-align: center;">copyright Desarrolladores de software y web</h4>
        <h2></h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../../../assets/js/index.js"></script>
</body>
</html>