<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual de usuario</title>
</head>
<body>
    <div class="manual">
    <h2>Mnual de usuario:</h2>
        <ul class="rmanual">
            <embed src="../../../assets/pdf/MANUAL DE USUARIO.pdf" target="blank" type="application/pdf" width="100%" height="600px" />
        </ul>
    </div>
</body>
</html>